.btn-inline-form {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    color: #000;
    border-width: 1px 1px 1px 1px; /* top right bottom left */
    border-style: solid;
    border-color: #ccc;
}
